<div class="row card-wrapper justify-content-md-center">
  <div class="col-sm-12 col-md-10 card-container">
    <div class="card">
        <form class="form-group col-12">
          <div *ngIf="status === 'update'">
            <div class="form-radio col-2">
              <label>
                <input class="form-check-input" type="radio" name="example" id="example" value="check"
                       checked>
                <label class="form-check-label" for="example">
                  Create {{value}} check
                </label>
              </label>
            </div>
          </div>
          <div class="form-row" *ngIf="status === 'create'">
            <div class="row">
              <div class="form-radio col-2">
                <label>
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios" [(ngModel)]="value" value="paymentCheck"
                         checked>
                  <label class="form-check-label" for="exampleRadios">
                    Create payment check
                  </label>
                </label>
              </div>
              <div class="form-radio col-2">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [(ngModel)]="value" value="merchantCheck">
                <label class="form-check-label" for="exampleRadios2">
                   Create merchant check
                </label>
              </div>
            </div>
          </div>
        </form>
      <hr/>

      <app-payments *ngIf="value == 'paymentCheck'" [check]="check"></app-payments>
      <app-merchants *ngIf="value == 'merchantCheck'" [check]="check"></app-merchants>

    </div>
  </div>
</div>
