<div class="row card-wrapper justify-content-md-center">
  <div class="col-sm-12 col-md-10">
    <h1>Check name</h1>

    <!--TODO: add black border-->
    <div class="">
    <p>This check will trigger when the total amount of money of the orders is above 10000,00 euros within 72 hours and the payment method is IDeal</p>
    </div>

    <h2>Alerts: </h2>

    <!--TODO: add a for loop let order for order. The orders array comes from a api call in a orderservicesclass -->
    <div class="list-group m-t-24 row">
      <div class="list-group-header row">
        <div class="col-2 table-header">
          <div class="subheading-01">OrderID</div>
        </div>
        <div class="col-3 table-header">
          <div class="subheading-01">Merchant name</div>
        </div>
        <div class="col-3 table-header">
          <div class="subheading-01">Buyer name</div>
        </div>
        <div class="col-2 table-header">
          <div class="subheading-01">Amount</div>
        </div>
        <div class="col-2 table-header">
          <div class="subheading-01">Currency</div>
        </div>
      </div>
      <!--TODO: change route so it has a real id-->
      <div class="list-group-content row" routerLink="/order/id">
        <div class="table-column text-nowrap text-truncate col-2">
          <strong>OrderID</strong>
        </div>
        <div class="table-column text-nowrap text-truncate col-3">
          <strong>Merchant name</strong>
        </div>
        <div class="table-column text-nowrap text-truncate col-3">
          <strong>Buyer name</strong>
        </div>
        <div class="table-column text-nowrap text-truncate col-2">
          <strong>Amount</strong>
        </div>
        <div class="table-column text-nowrap text-truncate col-2">
          <strong>Currency</strong>
        </div>
      </div>
    </div>

  </div>
</div>

