/* You can add global styles to this file, and also import other style files */

.alertText{
  color: red;
}

.normalText{
  color: black;
}

.paddingVertical{
  padding: 8px 0px;
}

.paddingHorizontal{
  padding: 0px 5px;
}

.border{
  border-style: solid;
  border-color: #717171;
  border-radius: 25px;
  padding: 8px;
}

p.bigText{
  font-size: 125%;
}
p.biggerText{
  font-size: 170%;
}

img.navbarLogo{
  height: 6%;
  width: 6%;
}

.editLink{
  cursor: pointer
}

hr{
  height: 1px;
  background-color: darkgray;
}

p{
  font-size: 117%;
}
