<div class="row card-wrapper justify-content-md-center">
  <div class="col-1">
    <button class="btn btn-outline-dark" (click)="backClicked()"><span class="cm-icon cm-icon-arrow-left"
                                                                       aria-hidden="true"></span> back
    </button>
  </div>
  <div class="col-sm-12 col-md-10 card-container">
    <div class="card">

      <div class="row">
        <div class="col-6">
          <h2>Merchant details</h2>
          <div class="border">
            <p>Name: {{order.Name}}</p>
            <p>Organization: {{order.OrganizationID}}</p>
            <p>Country: {{order.Country}}</p>
            <p>City: {{order.City}}</p>
            <p>Categories: {{order.MerchantCategoryCode}}</p>
          </div>
        </div>
        <div class="col-6">
          <h2>Buyer details</h2>
          <div class="border">
            <p>Name: {{order.BuyerName}}</p>
            <p>Billing country: {{order.BuyerBillingCountry}}</p>
            <p>Shipping country: {{order.BuyerShippingCountry}}</p>
          </div>
        </div>
      </div>
      <br/>
      <h2>Order details</h2>
      <div class="row border">
        <div class="col-6">
          <p>ID: {{order.ID}}</p>
          <p>Reference: {{order.Reference}}</p>
          <p>Description: {{order.Description}}</p>
        </div>
        <div class="col-6">
          <p>Amount: {{order.Amount}}</p>
          <p>Currency: {{order.Currency}}</p>
          <p>Created on: {{order.OrderCreatedOn}}</p>
        </div>
      </div>
      <br/>
      <h2>Payments</h2>

      <div class="col-12">
        <!--TODO: add a for loop let payment for payments. The payments array comes from a api call in a paymentservicesclass -->
        <div class="list-group m-t-24">
          <div class="list-group-header row">
            <div class="col-1 table-header">
              <div class="subheading-01">ID</div>
            </div>
            <div class="col-2 table-header">
              <div class="subheading-01">Merchant amount</div>
            </div>
            <div class="col-2 table-header">
              <div class="subheading-01">CreditcardBIN</div>
            </div>
            <div class="col-1 table-header">
              <div class="subheading-01">Status</div>
            </div>
            <div class="col-2 table-header">
              <div class="subheading-01">Status details</div>
            </div>
            <div class="col-2 table-header">
              <div class="subheading-01">Payment method</div>
            </div>
            <div class="col-2 table-header">
              <div class="subheading-01">Created on</div>
            </div>
          </div>
          <div class="list-group-content row">
            <div class="table-column text-nowrap text-truncate col-1">
              <strong>{{order.MerchantID}}</strong>
            </div>
            <div class="table-column text-nowrap text-truncate col-2">
              <strong>{{order.MerchantAmount}}</strong>
            </div>
            <div class="table-column text-nowrap text-truncate col-2">
              <strong>{{order.CreditCardBin}}</strong>
            </div>
            <div class="table-column text-nowrap text-truncate col-1">
              <strong>{{order.Status}}</strong>
            </div>
            <div class="table-column text-nowrap text-truncate col-2">
              <strong>{{order.StatusDetails}}</strong>
            </div>
            <div class="table-column text-nowrap text-truncate col-2">
              <strong>{{order.PaymentMethod}}</strong>
            </div>
            <div class="table-column text-nowrap text-truncate col-2">
              <strong>{{order.PaymentCreatedOn}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

