<!--TODO: add a for loop let check for checks. The checks array comes from a api call in a checkservicesclass-->
<div class="list-group m-t-24 row">
  <div class="list-group-header row">
    <div class="col-10 col-sm-8 col-md-6 table-header">
      <div class="subheading-01">Check</div>
    </div>
  </div>
  <!--TODO: change route so it has a real id-->
  <div class="list-group-content row" *ngFor="let check of paymentChecks">
    <div class="table-column text-nowrap text-truncate col-11" routerLink="/check/id">
      <strong>{{check.name}}</strong>
    </div>
    <div class="table-column icon">
      <app-delete-modal [checkId]="check._id"></app-delete-modal>
    </div>
  </div>

</div>
