<!--TODO: add a for loop let check for checks. The checks array comes from a api call in a checkservicesclass-->
<div class="list-group m-t-24 row">
  <div class="list-group-header row">
    <div class="col-10 col-sm-8 col-md-6 table-header">
      <div class="subheading-01">Check name</div>
    </div>
  </div>
  <!--TODO: change route so it has a real id-->
  <div class="list-group-content row">
    <div class="table-column text-nowrap text-truncate col-10" routerLink="/check/id">
      <strong>Check 1</strong>
    </div>
    <div class="table-column icon">
      <a class="editLink"><span class="cm-icon cm-icon-edit" aria-hidden="true">Edit |</span></a>
    </div>
    <div class="table-column icon">
      <app-delete-modal></app-delete-modal>
    </div>
  </div>
  <div class="list-group-content row">
    <div class="table-column text-nowrap text-truncate col-10" routerLink="/check/id">
      <strong>Check 2</strong>
    </div>
    <div class="table-column icon">
      <a class="editLink"><span class="cm-icon cm-icon-edit" aria-hidden="true">Edit |</span></a>
    </div>
    <div class="table-column icon">
      <app-delete-modal></app-delete-modal>
    </div>
  </div>
</div>
